#wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#input-wrap {
  width: 90vw;
  max-width: 500px;
  position: relative;
}
#imageSrc,
#canvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#imageDst {
  width: 90vw;
  max-width: 500px;
}
#dummy-mask-wrap {
  height: 0;
  overflow: hidden;
}
#dummy-input-mask {
  visibility: hidden;
}
