#wrap {
  position: relative;
}
#input-wrap {
  width: 90vw;
  max-width: 500px;
  position: relative;
}
#imageSrc,
#canvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#imageDst {
  width: 500px;
  position: absolute;
  left: 50vw;
  top: 0;
}
